################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChamadoFacil/.vs/ChamadoFacil/v15
/ChamadoFacil/ChamadoFacil.ApplicationService/obj
/ChamadoFacil/ChamadoFacil.BusinessLogic/obj/Debug
/ChamadoFacil/ChamadoFacil.CrossCutting/obj/Debug
/ChamadoFacil/ChamadoFacil.DataAccess/obj/Debug
/ChamadoFacil/ChamadoFacil.DependencyInjection/obj/Debug
/ChamadoFacil/ChamadoFacil.Mapping/obj/Debug
/ChamadoFacil/.vs/config
/ChamadoFacil/node_modules
/ChamadoFacil/packages
/ChamadoFacil/ChamadoFacil.Models/obj/Debug
/ChamadoFacil/ChamadoFacil.ApplicationService/bin/Debug/netcoreapp2.0
/ChamadoFacil/ChamadoFacil.CrossCutting/bin/Debug
/ChamadoFacil/ChamadoFacil.BusinessLogic/bin/Debug
/ChamadoFacil/ChamadoFacil.DataAccess/bin/Debug
/ChamadoFacil/ChamadoFacil.DataAccess.Test/bin/Debug
/ChamadoFacil/ChamadoFacil.DataAccess.Test/obj/Debug
/ChamadoFacil/ChamadoFacil.DependencyInjection/bin/Debug
/ChamadoFacil/ChamadoFacil.Models/bin/Debug
/ChamadoFacil/.vs/ChamadoFacil/DesignTimeBuild
/ChamadoFacil/ChamadoFacil.Mapping/bin/Debug
