<section class="content">
  <section class="vbox">
    <section class="scrollable">
      <div class="slim-scroll padder-h" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">

        <div class="row m-b-md">
          <div class="col-lg-12">
            <h1 class="m-b-xs text-black">Listagem de Chamados</h1>
            <small></small>
          </div>
        </div>

        <section class="panel panel-default">
          <header class="panel-heading clearfix">
            <div class="pull-right">
              <a routerLink="/admin/chamado" class="btn btn-sm btn-info"><span class="fa fa-plus"></span> Novo</a>
            </div>
          </header>
          <article class="panel-body">

            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label>Nº do Processo:</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label>Titulo:</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label>Categoria:</label>
                    <select class="form-control">
                      <option>Selecione uma opção</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label>Urgência:</label>
                    <select class="form-control">
                      <option>Selecione uma opção</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Buscar</button>
                  </div>
                </div>
              </div>
            </form>
          </article>
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead class="thead-cadsuf">
                <tr>
                  <th class="text-center">Nº do Processo</th>
                  <th class="text-center">Titulo</th>
                  <th class="text-center">Mensagem</th>
                  <th class="text-center">Categoria</th>
                  <th class="text-center">Urgência</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let chamado of model">
                  <td>{{chamado?.id}}</td>
                  <td>{{chamado?.titulo}}</td>
                  <td>{{chamado?.mensagem}}</td>
                  <td>{{chamado?.categoria}}</td>
                  <td><span class="label label-success">{{chamado?.urgencia}}</span></td>
                  <td>
                    <a routerLink="/admin/chamado/visualizar/{{chamado.id}}" class="btn btn-default btn-sm"><i class="fa fa-file-text-o"></i></a>
                    <a routerLink="/admin/chamado/alterar/{{chamado.id}}" class="btn btn-sm btn-default"><span class="fa fa-pencil"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer clearfix">
            <div class="pull-right">
              <a routerLink="/admin/chamado" class="btn btn-sm btn-info"><span class="fa fa-plus"></span> Novo</a>
            </div>
          </footer>
        </section>
      </div>
    </section>
  </section>
</section>
