<section class="content">
  <section class="vbox">
    <section class="scrollable">
      <div class="slim-scroll padder-h" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">

        <div class="row m-b-md">
          <div class="col-lg-12">
            <h1 class="m-b-xs text-black">{{titulo}} Chamado</h1>
            <small></small>
          </div>
        </div>
        <section class="panel panel-default">
          <header class="panel-heading clearfix">
            <h3 class="panel-title h5">Formulário</h3>
          </header>
          <article class="panel-body">

            <form id="formulario" #formulario="ngForm" ngValidate (ngSubmit)="salvar()">
              <fieldset [disabled]="desabilitado">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label [class.required]="!desabilitado">Titulo:</label>
                      <input type="text" class="form-control input-s-xs" name="titulo" [(ngModel)]="model.titulo" />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label [class.required]="!desabilitado">Categoria:</label>
                      <select class="form-control">
                        <option>opt1</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label [class.required]="!desabilitado">Urgência:</label>
                      <select class="form-control">
                        <option>opt1</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group ">
                  <div class="row">
                    <div class="col-lg-12">
                      <label [class.required]="!desabilitado">Mensagem:</label>
                      <textarea rows="6" class="form-control rsz-n" name="model.titulo" [(ngModel)]="model.mensagem"></textarea>
                    </div>
                  </div>
                </div>
              </fieldset>
              <footer class="panel-footer clearfix">
                <div class="pull-right">
                  <a routerLink="/admin/listagem" class="btn btn-sm btn-default"><span class="fa fa-long-arrow-left"></span> Voltar</a>
                  <button type="submit" class="btn btn-sm btn-info" *ngIf="!desabilitado"><span class="fa fa-save"></span> Salvar</button>
                </div>
              </footer>
            </form>
          </article>
        </section>
      </div>
    </section>
  </section>
</section>
