<div class="register-box">
  <div class="register-logo">
    <b>Chamado Fácil</b>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Novo cadastro</p>

    <form id="formulario" #formulario="ngForm" ngValidate (ngSubmit)="cadastrar()">
      <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Nome Completo" name="nome" [(ngModel)]="model.nome">
      </div>
      <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="model.email">
      </div>
      <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <input type="password" class="form-control" placeholder="Senha" name="senha" [(ngModel)]="model.senha">
      </div>
      <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <input type="password" class="form-control" placeholder="Confirme a senha">
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
        </div>
      </div>
    </form>

    <a routerLink="/login" class="text-center">Já possui cadastro?</a>
  </div>
</div>
