<div class="login-box login-page">
  <div class="login-logo">
    <b>Chamado </b>Fácil
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Entre com suas credenciais para iniciar sua sessão</p>

    <form id="formulario" #formulario="ngForm" ngValidate (ngSubmit)="login()">
      <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <input type="email" class="form-control" placeholder="Email" name="login" [(ngModel)]="model.login">
      </div>
      <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <input type="password" class="form-control" name="password" placeholder="Senha" [(ngModel)]="model.password">
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
      </div>
    </form>
    <!--<a href="#">Esqueci minha senha</a><br>-->
    <a routerLink="/cadastro" class="text-center"><span>Ainda não possui um cadastro?</span></a>
  </div>
</div>
